<!DOCTYPE html>
<html>
<head>

<meta />
<tittle>   </tittle>
</head>
<body>
  <header>
  <h1>Express Form</h1>
  <nav>
    <ul>
<li>
  <a href="/">Home</a>
</li>
<li>
  <a href="/fake-sign-up">Sign Up</a>
</li>
    </ul>
  </nav>
</header>

<%- body -%>

</body>
</html>
