<h2> Sign Up </h2>

<form style="padding: 5em" action="/user-data" method="get">
  <label for="full-name-input">Full Name:</label>
  <input id="full-name-input" type="text" name="fullNameValue">
<br/>
  <label for="email-input">Email:</label>
  <input id="email-input" type="email" name="emailValue">
<br/>
  <label for="password-input">Password:</label>
  <input id="password-input" type="password" name="passwordValue">
<br/>

  <button>Sign Up</button>

</form>
