<h2> Log In </h2>

<form style="padding: 5em" action="/fake-login" method="post">
  <label for="the-email-input">Your Email:</label>
  <input id="the-email-input" type="email" name="userEmail">
<br/>
  <label for="the-password-input">Your Password:</label>
  <input id="the-password-input" type="password" name="userPassword">
<br/>
<button>Sign Up</button>

</form>
